<div class="container ps-2 mt-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a href="/"> <fa-icon [icon]="faHome" /> </a></li>
      <li class="breadcrumb-item"> <a class="text-decoration-none" href="/brands"> Brands </a></li>
      <li class="breadcrumb-item active" aria-current="page"> {{ (brand_name+' products').toUpperCase() }} </li>
    </ol>
  </nav>
</div>

<div class="container mt-2">
  <h3> {{ (brand_name+' products').toUpperCase() }} </h3>
  <hr>
  <div class="row">
    @for(item of this.productsService.products| paginate: { itemsPerPage: itemsPerPage, currentPage: this.productsService.page }; track $index) {
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card rounded shadow mb-2 p-2">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img class="img-fluid rounded-top" [src]="'http://localhost:3000/'+item.photo[0].url" [alt]="item.name" style="height: 300px;">
          </div>
          <div class="row">
            <div class="col-12 p-0">
              <div class="card-body">
                <h5 class="card-title text-breaker fs-6"> {{ (item.brand[0].name+' '+item.name).toUpperCase() }} </h5>
                <p class="card-text"> Price: @if(item.discount > 0) {
                  <span class="text-primary"> ${{ item.price - (item.price*item.discount) }}  <span  class="text-secondary text-decoration-line-through" style="font-size: 14px;">${{item.price}}</span> </span>
                } @else {
                  <span class="text-primary"> ${{item.price}} </span>
                } </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center mb-2">
          <div class="col-12 mb-2">
            <a [routerLink]="['/details', item.name.toLowerCase().replace(' ', '_').replace('/', '_').replace('(needs gpu)', '').replace('(no needs gpu)', '').trim(), item.id]" class="btn btn-outline-primary w-100"> Details </a>
          </div>
          <div class="col-12">
            @if(this.cartService.isLoggedIn()) {
              <button class="btn btn-outline-primary w-100" (click)="this.cartService.addToCart(item)"> Add to cart <fa-icon [icon]="faCartShopping"/> </button>
            } @else {
              <button class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal"> Add to cart <fa-icon [icon]="faCartShopping"/> </button>
            }
          </div>
        </div>
      </div>
    </div>
    } @empty {
      <div class="col-12 mt-5 mb-5 pb-5 d-flex justify-content-center">
        <img src="../assets/img/noProducts.png" class="img-fluid d-md-block d-sm-none w-25">
        <img src="../assets/img/noProducts.png" class="img-fluid d-md-none d-sm-block w-50">
      </div>
    }
    <div class="col-12 d-flex justify-content-end">
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="this.productsService.handlePageChange($event)" />
    </div>
  </div>
</div>