<div class="container p-2">
  <div class="row">
    @for(category of this.categoriesService.categories; track category.id) {
    <div class="col-lg-3 col-sm-6">
      <div class="card mb-4 rounded shadow">
        <img class="card-img-top" src="{{'http://localhost:3000/'+category.photo}}" alt="{{ category.name }}">
        <div class="card-body text-start">
          <h5 class="card-title">{{ category.name }}</h5>
          <hr>
          <div class="accordion accordion-flush" id="accordionFlushExample_{{category.id}}">
            @for(subcategory of category.subcategories; track subcategory.id) {
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse_' + category.id + '_' + subcategory.id" aria-expanded="false" [attr.aria-controls]="'collapse_' + category.id + '_' + subcategory.id"> {{ subcategory.name }} </button>
              </h2>
              <div [id]="'collapse_' + category.id + '_' + subcategory.id" class="accordion-collapse collapse" [attr.data-bs-parent]="'#accordionFlushExample_' + category.id">
                <div class="accordion-body">
                  <ul class="list-group list-group-flush text-start">
                    @for(subsubcategory of subcategory.subcategories; track subsubcategory.id) {
                    <li class="list-group-item">
                      <a class="text-decoration-none" [routerLink]="['/category', category.name.toLowerCase().replace(' ', '_'), subcategory.name.toLowerCase().replace(' ', '_'), subsubcategory.name.toLowerCase().replace(' ', '_').replace('', ''), subsubcategory.id]">
                        {{ subsubcategory.name }}
                      </a>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    } @empty {
      <div class="col-12 mt-4 mb-4 pb-4 pt-2 d-flex justify-content-center">
        <img src="../assets/img/noProducts.png" class="img-fluid d-md-block d-sm-none w-25">
        <img src="../assets/img/noProducts.png" class="img-fluid d-md-none w-50">
      </div>
    }
  </div>
</div>