<section>
  <p>This Web Site designed for e-commerce contains various valuable trademarks for use by <strong>CinnaTech Store</strong>, third party properties and their affiliated subsidiaries throughout the world.<br>
  These trademarks are used to distinguish the quality products and services offered by <strong>CinnaTech Store</strong>. These trademarks and related proprietary property are protected from reproduction and imitation by national and international laws, and may not be copied without the express written permission of <strong>CinnaTech Store</strong>.</p>

  <p> <strong>CinnaTech Store</strong>, as well as all its variants and any phrase containing the words <strong>"CinnaTech"</strong> and <strong>"Store"</strong> (in any order), are trade names registered under the laws of the Republic of El Salvador in the name of its corporate name <strong>"CinnaTech S.A de C.V."</strong> with NIT: <strong>0263-049283-253-3</strong>. Therefore, the illegal and inappropriate use of such trademarks without written permission, will be qualified as a violation of registration rights, plagiarism and theft of intellectual property both nationally and internationally.</p>
</section>

<section class="mt-3">
  <h3 class="fw-semibold"> - Copyright Notice </h3>
  <hr>
  <p> The text, graphics, source code and other resources on the website are the exclusive property of <strong>CinnaTech Store</strong>. Unless otherwise specified, all such elements contained herein may not be copied, replicated, distributed or marketed in any form without the prior permission of <strong> CinnaTech Store </strong>.
  </p>

  <p> All information contained on the <strong>CinnaTech Store</strong> website, be it images, graphics, animations, text, logos, etc., is subject to change without notice. are the exclusive property of <strong>CinnaTech Store</strong> and its suppliers, which are protected under international copyright laws. Any other use, including the reproduction, modification, distribution, transmission, republication, display or use of the content of this site is strictly prohibited. <br>
    Apart from being used for shopping, the contents of the <strong>CinnaTech Store</strong> website may be used for personal, non-commercial purposes. You may copy the contents of this site for your personal use only.</p>
</section>

<section class="mt-3">
  <h3 class="fw-semibold"> - Company Info </h3>
  <hr>

  <label> Corporate name: CinnaTech S.A. de C.V. </label> <br>
  <label> Commercial name: CinnaTech Store </label> <br>
  <label> NIT: 0263-049283-253-3 </label> <br>
  <label> NRC: 196923-7 </label>
</section>