.card {
  position: relative;
  overflow: hidden;
  text-wrap: wrap;
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.25rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card:hover .overlay {
  opacity: 1;
}

.category {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

a:hover {
  text-decoration: underline !important;
}