<div class="container p-2">
  <div id="carouselExampleCaptions" class="carousel slide pt-2">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://zebronics.com/cdn/shop/collections/Zeb-Gaming-_Premium-Series.jpg?v=1688457068&width=2048"
          class="d-block w-100 rounded" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5> Build your computer!</h5>
          <p>You can go to our local, we will build your PC.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://zebronics.com/cdn/shop/collections/Wireless-Headphone.jpg?v=1689398594&width=2600"
          class="d-block w-100 rounded" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5> New models </h5>
          <p>Come to our local to get the new products!</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://zebronics.com/cdn/shop/collections/zeb-2.0_speaker-banner.jpg?v=1688108636&width=2600"
          class="d-block w-100 rounded" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5> Gamer accesories </h5>
          <p> For gaming and productivity</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row d-lg-flex d-none justify-content-center text-center p-2">
    <div class="col-xl-2 col-sm-12 mt-2">
      <a [routerLink]="['/products', 'consoles']">
        <div class="card shadow">
          <img class="img-fluid rounded" src="../assets/img/consoles.jpg" alt="">
          <div class="overlay">
            <h5>Consoles</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-2 col-sm-12 mt-2">
      <a [routerLink]="['/products', 'peripherals']">
        <div class="card shadow">
          <img class="img-fluid rounded" src="../assets/img/peripherals.jpg" alt="">
          <div class="overlay">
            <h5>Peripherals</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-2 col-sm-12 mt-2">
      <a [routerLink]="['/products', 'intel_cpu']">
        <div class="card shadow">
          <img class="img-fluid rounded" src="../assets/img/intel.jpg" alt="">
          <div class="overlay">
            <h5>Intel CPU's</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-2 col-sm-12 mt-2">
      <a [routerLink]="['/products', 'amd_cpu']">
        <div class="card shadow">
          <img class="img-fluid rounded" src="../assets/img/amd.jpg" alt="">
          <div class="overlay">
            <h5>AMD CPU's</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-2 col-sm-12 mt-2">
      <a [routerLink]="['/products', 'graphic_cards']">
        <div class="card shadow">
          <img class="img-fluid rounded" src="../assets/img/gpu.jpg" alt="">
          <div class="overlay">
            <h5>GPU's</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- Carousel for sm -->
  <div id="categoriesCarousel" class="carousel slide d-lg-none mt-2" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#categoriesCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#categoriesCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#categoriesCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#categoriesCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#categoriesCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a [routerLink]="['/products', 'consoles']">
          <div class="card shadow">
            <img class="img-fluid rounded" src="../assets/img/consoles.jpg" alt="">
            <div class="overlay">
              <span>Consoles</span>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/products', 'peripherals']">
          <div class="card shadow">
            <img class="img-fluid rounded" src="../assets/img/peripherals.jpg" alt="">
            <div class="overlay">
              <span>Peripherals</span>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/products', 'intel_cpu']">
          <div class="card shadow">
            <img class="img-fluid rounded" src="../assets/img/intel.jpg" alt="">
            <div class="overlay">
              <span>Intel CPU's</span>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/products', 'amd_cpu']">
          <div class="card shadow">
            <img class="img-fluid rounded" src="../assets/img/amd.jpg" alt="">
            <div class="overlay">
              <span>AMD CPU's</span>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/products', 'graphic_cards']">
          <div class="card shadow">
            <img class="img-fluid rounded" src="../assets/img/gpu.jpg" alt="">
            <div class="overlay">
              <span>GPU's</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class="col-xl-12 col-md-12 col-sm-12">
      <h3> Latest arrivals </h3>
    </div>
  </div>

  <div id="productsCarouselIndicators" class="carousel slide d-none d-md-flex">
    <div class="carousel-indicators d-none">
      <button type="button" data-bs-target="#productsCarouselIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#productsCarouselIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          @for(item of this.productsService.products; track $index) {
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card rounded shadow-sm">
              <img class="img-fluid rounded-top" src="{{'http://localhost:3000/'+item.photo[0].url}}" alt="{{item.name}}"
                style="height: 175px;">
              <div class="card-body">
                <p class="category text-secondary">{{item.category}} </p>
                <p class="card-title">
                  <a class="text-decoration-none text-black"
                    [routerLink]="['/details', item.name.toLowerCase().replace(' ', '_').replace('/', '_').replace('(needs gpu)', '').replace('(no needs gpu)', '').trim(), item.id]">
                    {{(item.category + ' ' + item.brand[0].name + ' ' + item.name).toUpperCase()}}
                  </a>
                </p>
                <hr>
                <div class="row text-center">
                  <div class="col-12 mb-2">
                    @if(item.discount > 0) {
                    <span> ${{ item.price - (item.price*item.discount) }} <span
                        class="text-secondary text-decoration-line-through"
                        style="font-size: 14px;">${{item.price}}</span> </span>
                    } @else {
                    <span> ${{item.price}} </span>
                    }
                  </div>
                  <div class="col-12">
                    @if(isLoggedIn()) {
                    <button class="btn btn-outline-primary w-100" (click)="this.cartService.addToCart(item)">
                      Add to cart <fa-icon [icon]="faCartShopping" />
                    </button>
                    } @else {
                    <button class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Add to cart <fa-icon [icon]="faCartShopping" />
                    </button>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
          } @empty {
          <div class="col-md-12 col-sm-12 text-center">
            <img src="../assets/img/noProducts.png" class="img-fluid w-25">
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  @if(this.productsService.products.length > 0) {
  <div id="productsCarousel" class="carousel slide d-md-none mt-2" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#productsCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#productsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#productsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          @for(item of this.productsService.products.slice(0, 2); track $index) {
          <div class="col-sm-6 p-3">
            <div class="card rounded shadow-sm">
              <img class="img-fluid rounded-top" src="{{'http://localhost:3000/'+item.photo[0].url}}" alt="{{item.name}}"
                style="height: 175px;">
              <div class="card-body">
                <p class="category text-secondary"> {{item.category}} </p>
                <a class="text-decoration-none text-black"
                  [routerLink]="['/details', item.name.toLowerCase().replace(' ', '_').replace('/', '_').replace('(needs gpu)', '').replace('(no needs gpu)', '').trim(), item.id]">
                  {{(item.category + ' ' + item.brand[0].name + ' ' + item.name).toUpperCase()}} </a>
                <hr>
                <div class="row text-center">
                  <div class="col-12 mb-2">
                    @if(item.discount > 0) {
                    <span class="me-4"> ${{ item.price - (item.price*item.discount) }} <span
                        class="text-secondary text-decoration-line-through" style="font-size: 14px;"> ${{ item.price }}
                      </span> </span>
                    } @else {
                    <span class="me-4">${{item.price}}</span>
                    }
                  </div>
                  <div class="col-12">
                    @if(isLoggedIn()) {
                    <button class="btn btn-outline-primary" (click)="this.cartService.addToCart(item)">
                      Add to cart <fa-icon [icon]="faCartShopping" />
                    </button>
                    } @else {
                    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Add to cart <fa-icon [icon]="faCartShopping" />
                    </button>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          @for(item of this.productsService.products.slice(2, 4); track $index) {
          <div class="col-sm-6 p-3">
            <div class="card rounded shadow-sm">
              <img class="img-fluid rounded-top" src="{{'http://localhost:3000/'+item.photo[0].url}}" alt="{{item.name}}"
                style="height: 175px;">
              <div class="card-body">
                <p class="category text-secondary"> {{item.category}} </p>
                <a class="text-decoration-none text-black"
                  [routerLink]="['/details', item.name.toLowerCase().replace(' ', '_').replace('/', '_').replace('(needs gpu)', '').replace('(no needs gpu)', '').trim(), item.id]">
                  {{(item.category + ' ' + item.brand[0].name + ' ' + item.name).toUpperCase()}}
                </a>
                <hr>
                <div class="row text-center">
                  <div class="col-12 mb-2">
                    @if(item.discount > 0) {
                    <span class="me-4"> ${{ item.price - (item.price*item.discount) }} <span
                        class="text-secondary text-decoration-line-through" style="font-size: 14px;"> ${{ item.price }}
                      </span> </span>
                    } @else {
                    <span class="me-4">${{item.price}}</span>
                    }
                  </div>
                  <div class="col-12">
                    @if(isLoggedIn()) {
                    <button class="btn btn-outline-primary" (click)="this.cartService.addToCart(item)">
                      Add to cart <fa-icon [icon]="faCartShopping" />
                    </button>
                    } @else {
                    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Add to cart <fa-icon [icon]="faCartShopping" />
                    </button>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          @for(item of this.productsService.products.slice(4, 6); track $index) {
          <div class="col-sm-6 p-3">
            <div class="card rounded shadow-sm">
              <img class="img-fluid rounded-top" src="{{'http://localhost:3000/'+item.photo[0].url}}" alt="{{item.name}}"
                style="height: 175px;">
              <div class="card-body">
                <p class="category text-secondary"> {{item.category}} </p>
                <a class="text-decoration-none text-black"
                  [routerLink]="['/details', item.name.toLowerCase().replace(' ', '_').replace('/', '_').replace('(needs gpu)', '').replace('(no needs gpu)', '').trim(), item.id]">
                  {{(item.category + ' ' + item.brand[0].name + ' ' + item.name).toUpperCase()}}
                </a>
                <hr>
                <div class="row text-center">
                  <div class="col-12 mb-2">
                    @if(item.discount > 0) {
                    <span class="me-4"> ${{ item.price - (item.price*item.discount) }} <span
                        class="text-secondary text-decoration-line-through" style="font-size: 14px;"> ${{ item.price }}
                      </span> </span>
                    } @else {
                    <span class="me-4">${{item.price}}</span>
                    }
                  </div>
                  <div class="col-12">
                    @if(isLoggedIn()) {
                    <button class="btn btn-outline-primary" (click)="this.cartService.addToCart(item)">
                      Add to cart <fa-icon [icon]="faCartShopping" />
                    </button>
                    } @else {
                    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Add to cart <fa-icon [icon]="faCartShopping" />
                    </button>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#productsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  } @else {
  <div class="d-md-none col-sm-12 text-center">
    <img src="../assets/img/noProducts.png" class="img-fluid w-50">
  </div>
  }

  @defer (on viewport) {
  <div class="row text-center mt-4">
    <div class="col-md-4 mt-3 mb-4 col-sm-12">
      <h5> Most popular </h5>
      <ul class="text-start list-group list-group-flush mt-4">
        @if(this.productsService.products.length > 0) {
        @for(item of this.productsService.products.slice(0, 5); track $index) {
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-3 d-flex justify-content-center">
              <img class="rounded" src="{{'http://localhost:3000/'+item.photo[0].url}}" height="100px">
            </div>
            <div class="col-lg-7 col-md-12 col-sm-7 ms-3">
              <a class="text-decoration-none text-black"
                [routerLink]="['/details', item.name.toLowerCase().replace(' ', '_').replace('/', '_').replace('(needs gpu)', '').replace('(no needs gpu)', '').trim(), item.id]">
                {{(item.category + ' ' + item.brand[0].name + ' ' + item.name).toUpperCase()}}
              </a>
              <div class="align-items-center">
                <span> Price:
                  @if(item.discount > 0) {
                  <span class="text-primary"> ${{ item.price - (item.price*item.discount) }} <span
                      class="text-secondary" style="text-decoration:line-through; font-size: 12px;"> ${{ item.price }}
                    </span> </span>
                  } @else {
                  <span class="text-primary">${{item.price}}</span>
                  }
                </span> <br>
                <span> Rating: <span class="text-warning"> {{this.productsService.generateRatingStars(item.rating)}} </span> </span>
              </div>
            </div>
          </div>
        </li>
        }
        } @else {
        <div class="col-md-12 col-sm-12 text-center">
          <img src="../assets/img/noProducts.png" class="img-fluid w-50">
        </div>
        }
      </ul>
    </div>
    <div class="col-md-4 mt-3 mb-4 col-sm-12">
      <h5> Most popular categories </h5>
      <ul class="text-start list-group list-group-flush mt-4">
        @if(this.productsService.products.length > 0) {
        @for(item of this.productsService.products.slice(0, 5); track $index) {
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-3 d-flex justify-content-center">
              <img class="rounded" src="{{'http://localhost:3000/'+item.photo[0].url}}" height="100px">
            </div>
            <div class="col-lg-7 col-md-12 col-sm-7 ms-3">
              {{(item.category +' ' + item.brand[0].name +' ' + item.name).toUpperCase()}}
              <div class="align-items-center">
                <span> Price:
                  @if(item.discount > 0) {
                  <span class="text-primary"> ${{ item.price - (item.price*item.discount) }} <span
                      class="text-secondary" style="text-decoration:line-through; font-size: 12px;"> ${{ item.price }}
                    </span> </span>
                  } @else {
                  <span class="text-primary">${{item.price}}</span>
                  }
                </span> <br>
                <span> Rating: <span class="text-warning"> {{this.productsService.generateRatingStars(item.rating)}} </span> </span>
              </div>
            </div>
          </div>
        </li>
        }
        } @else {
        <div class="col-md-12 col-sm-12 text-center">
          <img src="../assets/img/noProducts.png" class="img-fluid w-50">
        </div>
        }
      </ul>
    </div>
    <div class="col-md-4 mt-3 col-sm-12">
      <h5> Best rated </h5>
      <ul class="text-start list-group list-group-flush mt-4">
        @if(this.productsService.products.length > 0) {
        @for(item of this.productsService.bestRatedProducts.slice(0, 5); track $index) {
        @if(item.rating >= 3) {
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-3 d-flex justify-content-center">
              <img class="rounded" src="{{'http://localhost:3000/'+item.photo[0].url}}" height="100px">
            </div>
            <div class="col-lg-7 col-md-12 col-sm-7 ms-3">
              <a class="text-decoration-none text-black"
                [routerLink]="['/details', item.name.toLowerCase().replace(' ', '_').replace('/', '_').replace('(needs gpu)', '').replace('(no needs gpu)', '').trim(), item.id]">
                {{(item.category + ' ' + item.brand[0].name + ' ' + item.name).toUpperCase()}}
              </a>
              <div class="align-items-center">
                <span> Price:
                  @if(item.discount > 0) {
                  <span class="text-primary"> ${{ item.price - (item.price*item.discount) }} <span
                      class="text-secondary" style="text-decoration:line-through; font-size: 12px;"> ${{ item.price }}
                    </span> </span>
                  } @else {
                  <span class="text-primary">${{item.price}}</span>
                  } </span> <br>
                <span> Rating: <span class="text-warning"> {{this.productsService.generateRatingStars(item.rating)}} </span> </span>
              </div>
            </div>
          </div>
        </li>
        }
        }
        } @else {
        <div class="col-md-12 col-sm-12 text-center">
          <img src="../assets/img/noProducts.png" class="img-fluid w-50">
        </div>
        }
      </ul>
    </div>
  </div>
  } @placeholder {
  <div class="row text-center mt-4">
    <div class="col-12">
      <div class="spinner-grow text-primary" role="status"></div>
      <div class="spinner-grow text-primary ms-2 me-2" role="status"></div>
      <div class="spinner-grow text-primary me-2" role="status"></div>
      <div class="spinner-grow text-primary me-2" role="status"></div>
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
  </div>
  }
</div>