<div class="container p-2 mt-2">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <h3 class="mb-3"> My cart list </h3>
      @for (item of this.cartService.getItems(); track $index) {
      <div class="row">
        <div class="col-md-2 col-sm-3">
          <div class="position-absolute">
            <img src="http://localhost:3000/{{item.photo[0].url}}" alt="Product" class="img-fluid"
              style="width: 100px; height: 100px;" />
            <span class="position-absolute top-1 me-1 start-75 translate-middle badge rounded-pill bg-danger"
              (click)="this.cartService.deleteItemFromCart(item)" style="cursor: pointer; font-size: 12px;"> x </span>
          </div>
        </div>
        <div class="col-md-10 col-sm-8 text-start">
          <div class="row mt-2">
            <div class="col-md-10 col-sm-8">
              <label class="medium text-breaker"> {{ (item.category+' '+item.brand[0].name+' '+item.name+' ('+(item.colors[item.indexColor].color).replace("-", " ")+')').toUpperCase() }} </label>
              <p> {{ item.quantity }} x @if(item.discount === 0) {
                <span class="text-primary"> ${{ item.price }} </span>
              } @else {
                <span class="text-primary">
                  ${{ item.price - (item.price*item.discount) }} <span class="text-secondary text-decoration-line-through" style="font-size: 14px;"> ${{item.price}} </span>
                </span>
              } </p>
            </div>
            <div class="col-md-2 col-sm-4 d-flex align-items-center">
              <button type="button" class="btn btn-outline-danger w-50 me-2" (click)="this.cartService.decreaseQuantity(item.id, item.indexColor)"> <span> - </span> </button>
              <button type="button" class="btn btn-outline-primary w-50" (click)="this.cartService.increaseQuantity(item.id, item.indexColor)"> <span> + </span> </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="mt-5"/>
      } @empty {
      <div class="col-12 text-center">
        <p> Your cart is empty </p>
      </div>
      }

      @if(this.cartService.getItems().length > 0) {
        <div class="col-12 mt-3 text-start d-flex align-items-center">
          <label class="medium"> Sub-Total: ${{ this.cartService.getSubTotal() }} </label>
        </div>
        <div class="row">
          <div class="col-6 mt-2 mb-3">
            <button type="button" class="btn btn-outline-danger w-100" (click)="this.cartService.clearCart()"> <fa-icon [icon]="faTrash" /> Clear cart </button>
          </div>
          <div class="col-6 mt-2 mb-3">
            <a [routerLink]="['/pay']">
              <button type="button" class="btn btn-outline-primary w-100" (click)="this.stepsService.nextStep()"> <fa-icon [icon]="faUser" /> Client info <fa-icon [icon]="faAngleRight"/> </button>
            </a>
          </div>
        </div>
        }
    </div>
    <app-order-info class="col-md-3 col-sm-12"/>
  </div>
</div>