.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(100%);
}

.rounded-color {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

#color-0 {
  border: 2px solid #007bff;
}

.bg-gray {
  background-color: #c9c9c9;
  color: #333333;
}

.bg-white {
  color: #000000;
  border: solid 1px #cacbcf;
}

.bg-blue {
  background-color: #007bff;
  color: #ffffff;
}

.bg-red-blue {
  background-image: linear-gradient(to right, #ff514a 50%, #007bff 50%);
  transform: rotate(45deg);
}

.bg-purple {
  background-color: #6e7edc;
  color: #ffffff;
}

.bg-green {
  background-color: #28a745;
  color: #ffffff;
}

.bg-pink {
  background-color: #ff7b81;
  color: #ffffff;
}

.bg-mint {
  background-color: #00c7b3;
  color: #ffffff;
}

.bg-red, .bg-neon-red {
  background-color: #ff514a;
  color: #ffffff;  
}

.bg-turquoise {
  background-color: #00bdc3;
  color: #ffffff;
}

.bg-white-blue {
  background-image: linear-gradient(to right, #f7f7f7 50%, #007bff 50%);
  transform: rotate(45deg);
}

.bg-black-green {
  background-image: linear-gradient(to right, #000000 50%, #28a745 50%);
  transform: rotate(45deg);
}

.bg-black-gray {
  background-image: linear-gradient(to right, #000000 50%, #c9c9c9 50%);
  transform: rotate(45deg);
}

.bg-black-red {
  background-image: linear-gradient(to right, #000000 50%, #FE0009 50%);
  transform: rotate(45deg);
}

.text-bg-low {
  background-color: #f57040;
}