<section class="mb-3">
  <label> CinnaTech Store S.A DE C.V. </label> <br>
  <label> NIT: 0263-049283-253-3 </label> <br>
  <label> Address: C.C. Plaza Merliot, 3rd level local 308, Santa Tecla, La Libertad, El Salvador, Central America
  </label> <br>
  <label> Phone: (+503) 2527-8000 </label> <br>
  <label> Email: {{"cinnatechstore@gmail.com"}} </label>
</section>

<section class="mb-3">
  <h5> - Contact Methods </h5>
  <hr class="w-50">

  <div class="alert alert-primary text-center">
    <label> We are happy to hear from you, which is why CinnaTech Store offers different communication channels to
      assist you as you deserve. </label>
  </div>
  <p> You can email us at: {{"cinnatechstore@gmail.com"}} <br>
    Call our customer service number (+503) 2527-8000 and select option 1 to choose the branch you wish to contact. <br>
    <br>

    <label class="fw-semibold"> If you prefer, you can write to us on WhatsApp: </label> <br>
    Metrocentro, San Salvador: (+503) 7345-7274 <br>
    Plaza Merliot, Santa Tecla: (+503) 7920-1300
  </p>
</section>

<section class="mb-3">
  <h5> - Payment Methods </h5>
  <hr class="w-50">

  <p> Credit/Debit Cards (Visa) <br>
    Bank Transfers <br>
    Our prices include taxes. <br>
    If you are a registered user with more than 3 purchases on our webstore, you can use our cash-on-delivery service.
    <br>
    The transaction must be carried out by the cardholder.
  </p>
</section>

<section class="mb-3">
  <h5> - RMA Warranty </h5>
  <hr class="w-50">

  <label> You can review our warranty policy at this <a class="text-decoration-none text-primary" [routerLink]="[ '/cinnatech', 'warranty' ]">link</a>. </label>
</section>

<section class="mb-3">
  <h5> - Right of Withdrawal </h5>
  <hr class="w-50">

  <p> To request a reversal of your purchase or product exchange, contact us at <a class="text-decoration-none text-primary" href="mailto:admon@cinnatechstore.com"> {{"admon@cinnatechstore.com"}}</a>.
    You can exercise this right as long as you have not started using the product, which must be returned by the customer
    to
    the CinnaTech Store branch, C.C. Plaza Merliot, 3rd level local 308, Santa Tecla, La Libertad.
    In the email, provide your name, the purchased product, and the day you received the product. Then, let us know the
    reason for requesting the right of withdrawal. </p>
  <div class="alert alert-primary">
    <label> You can request this right under the following conditions: </label>
  </div>

  <ul>
    <li> Your purchase was made on our website https://cinnatechstore.com. </li>
    <li> Your request was made within the first 8 days after receiving your product. </li>
    <li> Present the original purchase ticket or invoice; if lost, the customer must provide their full name, purchase date,
      payment method, and place of purchase. </li>
    <li> 
      The product must not have been used and should be returned in good condition (without visible damage), with its
      original packaging elements (labels, seals, instructions, documents, warranty certificates, boxes, protective elements, software license codes not scratched, software license codes not activated). </li>
    <li> The packaging (box) of the product must have its adhesive seals unaltered (not cut, removed, or peeled). </li>
    <li> The product will be inspected by our technicians to validate its integrity and good condition before proceeding with the request. </li>
    <li> The refund will be processed using the same payment method used for the purchase, handled by the corresponding
      institution. </li>
    <li> If the payment method was a debit or credit card, a form from the corresponding financial institution will be provided
      through the email <a class="text-decoration-none text-primary" href="mailto:admon@cinnatechstore.com"> {{"admon@cinnatechstore.com"}}</a> so the customer can process their refund. This form will be provided
      to the customer within a maximum of 15 days. The refund time depends on the financial institution of the payment method
      used for the purchase. If a month has passed and the refund has not been credited, the customer should contact the
      payment institution to check the status of the refund process. </li>
  </ul>
</section>

<section class="mb-3">
  <h5> - Payment Reversal </h5>
  <hr class="w-50">

  <p> Based on the Consumer Protection Law (Art. 13-D), you may request a payment reversal/refund for purchases from our webstore under the following conditions: </p>
  <ul>
    <li> Exercise your right of withdrawal. </li>
    <li> The purchased product has not been received. </li>
    <li> The received product does not match what was ordered. </li>
    <li> The product has a manufacturing defect (see our RMA Warranty). </li>
    <li> There are errors in the transaction charges due to third-party payment system failures. </li>
    <li> If the payment method was a debit or credit card, a form from the corresponding financial institution will be provided through the email <a class="text-decoration-none text-primary" href="mailto:admon@cinnatechstore.com"> {{"admon@cinnatechstore.com"}} </a> so the customer can process their refund. The refund time depends on the financial institution of the payment method used for the purchase. If a month has passed and the refund has not been credited, the customer should contact the payment institution to check the status of the refund process. </li>
  </ul>
</section>

<section class="mb-3">
  <h5> - Delivery Info </h5>
  <hr class="w-50">

  <p> We want your shopping experience to be exceptional, which is why we offer home delivery service. Check our shipping policy at this  <a class="text-decoration-none text-primary" [routerLink]="[ '/cinnatech', 'delivery_info']">link</a>. </p>
</section>

<section class="mb-3">
  <h5> - Warnings </h5>
  <hr class="w-50">

  <div class="alert alert-warning">
    <label> This applies to all our products. </label>
  </div>

  <p> Some details about the use of our products might be overlooked, but we care about your well-being, as well as that
    of adults, children, and pets. </p>

  <p> We remind you that some products and accessories may contain small parts that could pose a choking hazard;
    therefore, keep them out of reach of your loved ones.
    Please read the product label or instructions carefully for usage recommendations and contraindications. You can
    inquire about any of our products through the channels provided above. <br>
    For liquid products, keep them away from children or individuals who are not trained to handle such products. </p>

  <p> Remember that our products involve electrical and electronic components, which may pose risks of electrical
    shocks;
    therefore, they should be handled by technical personnel. We recommend keeping them out of the reach of children,
    non-technical individuals, pets, or away from liquids. </p>
</section>

<section>
  <h5> - Privacy Policy </h5>
  <hr class="w-50">

  <label> Review our privacy policy at this <a class="text-decoration-none text-primary" [routerLink]="[ '/cinnatech', 'privacy']">link</a>. </label>
</section>