<div class="row">
  <div class="col-12">
  </div>
  <div class="col-md-4 col-sm-12 d-flex justify-content-sm-center">
    <img src="logo.png" alt="logo" class="img-fluid rounded w-75">
  </div>
  <div class="col-md-8 col-sm-12 d-flex align-items-center">
    <div>
      <p> In the event that the consumer has lost the warranty certificate, invoice or document that covers the same,
        this does not limit his right to claim the warranty. However, the customer must present the accessories included
        in the product such as: manuals, adapters, cases, cables, box, etc. </p>
    </div>
  </div>
</div>

<section>
  <div class="alert alert-primary mt-3">
    <label> The warranty on the purchased products will be valid only in the following cases: </label>
  </div>
  <ul>
    <li> When the product has been treated under strict care. </li>
    <li> When the equipment or product has been operated normally. </li>
    <li> When the warranty period is still valid. </li>
    <li> When the product or equipment has not been checked, manipulated or repaired by a third party. </li>
  </ul>
</section>

<div class="alert alert-warning mt-3">
  <label class="fw-semibold text-center"> In all cases it is imperative that the owner who made the purchase is present
    at the branch where the product was purchased in order to proceed with the entry of the product to our technical
    department for review and subsequent solution of the problem. Our warranty is not transferable and is not valid for
    third parties. </label>
</div>

<section class="mt-3">
  <h5> - Remedy conditions for products with manufacturing defects </h5>
  <hr>
  <p> When a product is received under warranty and our technical area determines that the product has a manufacturing
    error or defect, our solution conditions are as follows: </p>
  <label> <strong>1.</strong> If the product is returned within 24 hours, the customer can choose:</label>
  <ul>
    <li> Replacement with a product equal to the one purchased. </li>
    <li> A different product of lesser value (the difference in cost will be refunded) or one of greater value (the
      customer must pay the difference) or of equal value. </li>
    <li> A refund of the value of the product. </li>
  </ul>

  <p> <strong>2.</strong> If the product is returned within the first 30 days of purchase and the warranty period for
    the product is in effect, an exchange of the product for a new one will be made (the response time will depend on
    the availability of inventory at the time). </p>
  <p> <strong>3.</strong> If more than 30 days have passed, but the warranty is still valid and the product brand does
    not offer an exchange, the product will be sent to the authorized service center of the brand to be repaired with
    original parts from the manufacturer (the response time will depend on the assigned service center). </p>

  <label class="fw-semibold"> The response time of our technical area for all cases is 3 to 5 working days. </label>
</section>

<section class="mt-3">
  <h5> - Restrictions </h5>
  <hr>
  <p>The warranty on the products or services will be void if it meets one of the points of Annex A-1 <strong>(see
      details at the bottom of this page). </strong> </p>
  <p> The customer, from the moment he receives his invoice, ticket or digital proof of purchase with serial sheet of
    the products he has purchased, either personally in one of our stores or through our webstore or social networks,
    accepts our warranty policies and may request to receive a copy of this warranty policy. </p>
</section>

<section class="mt-3">
  <h5> - Factory Default Warranty Validation (Home Delivery Mode) </h5>
  <hr>
  <div class="alert alert-primary">
    <label>After receiving your order, if it is identified that the product is damaged or does not work from the factory
      and it is still under warranty, you must follow the following steps:</label>
  </div>

  <p> <strong>1.</strong> Contact our agents through the communication channel where the customer made the purchase.
  </p>
  <p> <strong>2.</strong> When contacting the agent, you must attach photographs or video of the defective product and
    the packaging in which the item came, as well as a copy of the proof of purchase and serial sheet (if applicable).
  </p>
  <p> <strong>3.</strong> The agent will provide you with an RMA number and will contact you to provide you with a date
    for a home visit. </p>
  <p> <strong>4.</strong> Prepare the defective product in its original packaging and include all accessories and
    manuals in the packaging. Attach the RMA number assigned to it. </p>
  <p> <strong>5.</strong> At the time of pick-up at the customer's address, you must provide the carrier with the
    product and the RMA. Remember that shipping costs must be borne by the customer (see Additional Notes A). </p>
  <div class="alert alert-primary">
    <label> Once the defective product has been received in our stores, the technical area will proceed to the pertinent
      evaluation and technical tests. In the event that our technical area detects that the product has a problem or
      manufacturing defect and it is reported within 24 hours after the purchase, the customer can choose: </label>
  </div>

  <ul>
    <li> A new product of equal value. </li>
    <li> A different product of lesser value (the difference in cost will be refunded) or one of greater value (you must
      pay the difference) or of equal value. </li>
    <li> A refund of the value of the product through the same form of payment made at the time of purchase. </li>
  </ul>

  <p> If it is a manufacturing defect within the first 30 days of purchase, the product will be exchanged for a new one
    (the response time will depend on the availability of inventory at the time). </p>
  <p> If it is a manufacturing defect and more than 30 days have passed, but the warranty is still valid and the product
    brand does not offer an exchange, the product will be sent to the service center authorized by the brand to be
    repaired with original parts from the manufacturer (the response time will depend on the assigned service center).
  </p>
</section>

<section class="mt-3">
  <h5> - Cases Not Covered by Warranty </h5>
  <hr>
  <p>If our technical department detects that the product functions correctly and has no issues, the product will be
    returned or sent back (for online purchases) with audiovisual evidence of proper functioning. In some cases, there
    may be additional charges for maintenance or work performed to correct user-caused errors not covered by the
    warranty <strong>(see Appendix A-1)</strong>.</p>
</section>

<section class="mt-3">
  <h5> - If a Warranty Claim Occurs Within the First 24 Hours of Receipt </h5>
  <hr>

  <div class="alert alert-primary">
    <label> If our technical department detects that the product functions correctly and has no issues, the customer may
      be given the following options: </label>
  </div>

  <p> <strong>1.</strong> For online purchases, the same product will be sent back, and the customer must pay the
    shipping cost.</p>
  <p> <strong>2.</strong> A different product of higher value, where the customer will pay the difference, provided the
    returned product and packaging are in perfect condition; for online purchases, the customer must pay the shipping
    cost. </p>
  <p> <strong>3.</strong> If the customer does not want the product, a partial refund of 50% of the product value will
    be given due to associated distribution costs, or the returned product may not be sellable as "new". </p>
  <p> <strong>4.</strong> If our technical department detects that the product has been damaged or misused by the
    customer <strong>(see Appendix A-1)</strong>, the warranty is immediately VOID. No refund or compensation will be
    given in such cases. However, you may contact us to purchase a replacement or spare parts (if applicable). </p>
</section>

<section>
  <h5> - Additional Notes </h5>
  <hr>
  <p> <strong>1.</strong> Warranty does not cover shipping costs during the process in question; these costs are charged
    to the customer. </p>
  <p> <strong>2.</strong> All returns must be authorized by CinnaTech's technical department before the customer sends
    them. </p>
  <p> <strong>3.</strong> Return shipping costs must be paid by the customer and are non-refundable, except for "Factory
    Defect Warranty." </p>
  <p> <strong>4.</strong> All products sold in clearance promotions like "Caja Baneada" or other events, or where
    explicitly stated, have been tested for use and are not covered by any warranty. </p>
  <p> <strong>5.</strong> Always describe the problem in as much detail as possible: What happened? When? How? Always
    include the RMA number for online purchases. </p>
  <p> <strong>6.</strong> Audiovisual evidence provided by the customer must be well-focused and well-lit, showing
    close-up proof that it is the returned product. </p>
  <p> <strong>7.</strong> Always return the product with all labels, tags, manuals, accessories, packaging, and warranty
    seals. </p>
  <p> <strong>8.</strong> Replacement or repair does not extend the warranty period. </p>
  <p> <strong>9.</strong> If a device fails within the warranty period and no replacement part is available, a credit
    note will be issued for the customer to use in a future purchase. </p>
  <p> <strong>10.</strong> In case of loss, CinnaTech will provide the consumer with a copy of the warranty certificate,
    invoice, or document supporting it when requested. </p>
</section>

<section class="mt-3">
  <h5> - Service Center Exclusions </h5>
  <hr>
  <p> <strong>1.</strong> Installation and configuration of software such as operating systems, drivers, hardware
    applications, office software, antivirus, etc. </p>
  <p> <strong>2.</strong> Installation and configuration of printers, network devices, security devices, etc. </p>
  <p> <strong>3.</strong> Problems caused by improper handling of hardware during PC assembly or new part installation.
  </p>
  <p> <strong>4.</strong> Installation of Windows OS without a genuine license or programs without their license or
    legal use permission. </p>
  <p> <strong>5.</strong> We are not responsible for data loss on any mass storage device, USB, internal or external
    hard drives, etc.; since all storage media are susceptible to software failure or damage, we recommend always having
    a backup for such devices. </p>
  <p> <strong>6.</strong> As a value-added service, technical assistance can be provided free of charge via phone,
    WhatsApp, Zoom, Anydesk, etc., or at our facilities. </p>
</section>

<section class="mt-3">
  <h5> - Products with Special Warranty Conditions </h5>
  <hr>

  <div class="alert alert-warning">
    <label> By manufacturer's coverage indications, the following products have conditions that <span
        class="fw-semibold">DO NOT</span> apply to the warranty: </label>
  </div>

  <div class="accordion" id="accordionExample">

    <!-- Monitors -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Monitors
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Presence of 1 to 5 "dead" pixels or pixels that do not change color on the screen.</li>
            <li>Incompatibility due to refresh rate (Hz) settings with the video source (PC, laptop, gaming console,
              etc.).</li>
            <li>Resolution incompatibility with the video source device (PC, laptop, gaming console, etc.).</li>
            <li>Cracks, scratches, presence of organic agents such as insects, food, etc. (We recommend the customer
              verify their product at the time of purchase).</li>
            <li>Buttons that do not function properly due to wear and tear from use.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Power Supplies -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Power Supplies
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Malfunction due to incorrect voltage (burnt, corroded, swollen components; presence of a burnt smell).
            </li>
            <li>Operational noise.</li>
            <li>Cracks, scratches, presence of organic agents such as insects, food, etc. (We recommend the customer
              verify their product at the time of purchase).</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Laptops -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Laptops
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Keys that do not function properly due to wear and tear from use.</li>
            <li>Battery charge duration.</li>
            <li>Data or information loss.</li>
            <li>Malfunction due to incorrect voltage (burnt, corroded, swollen components; presence of a burnt smell).
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Headphones -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Headphones
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Sound output power.</li>
            <li>Microphone reception capacity.</li>
            <li>Noise or interference in sound.</li>
            <li>Cushion wear.</li>
            <li>Audio saturation in bass sounds at high volume.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Keyboards -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Keyboards
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Keys that do not function properly due to wear and tear from use.</li>
            <li>Amount of light emitted for illuminated keyboards.</li>
            <li>Noise level from keys when pressed.</li>
            <li>Surface wear.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Components with LED Lighting -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
          aria-expanded="false" aria-controls="collapseSix">
          Components with LED Lighting
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Amount of light emitted.</li>
            <li>Malfunction due to incorrect voltage.</li>
            <li>Incompatibility with RGB synchronization technologies.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Gaming Consoles -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Gaming Consoles
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Internal component updates like SSD Sata or M.2 storage units.</li>
            <li>Installation of custom firmware for pirated games.</li>
            <li>Accessories like controllers, headsets, or cables only have a 30-day warranty as they are prone to
              drops, impacts, sweat, liquid or food spills.</li>
            <li>Material wear.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Furniture -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Furniture
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Material wear.</li>
            <li>Broken parts like supports, bases, armrests, wheels, etc.</li>
            <li>Lack of pressure in suspension components.</li>
            <li>Noises or sounds generated while using the product.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- PC Cases -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          PC Cases
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Incompatibility with RGB synchronization technologies.</li>
            <li>Noise emitted by fans.</li>
            <li>Broken or chipped parts.</li>
            <li>Improper front panel function due to lack of configuration.</li>
            <li>Buttons that do not function properly due to wear and tear from use.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Tablets, Phones, or Android Devices -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen"
          aria-expanded="false" aria-controls="collapseTen">
          Tablets, Phones, or Android Devices
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Improper software operation and installed apps.</li>
            <li>Data or information loss.</li>
            <li>User account lock.</li>
            <li>Lack of signal reception.</li>
            <li>Slow operation.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Storage Units (Hard Drives, USB Drives, MicroSD Cards, SSDs, etc.) -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEleven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Storage Units (Hard Drives, USB Drives, MicroSD Cards, SSDs, etc.)
        </button>
      </h2>
      <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Data or information loss.</li>
            <li>Incompatibility of use.</li>
            <li>Exact storage space quantity.</li>
            <li>Slow operation.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Printers -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwelve">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          Printers
        </button>
      </h2>
      <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Blurry print or color variations.</li>
            <li>Paper jams.</li>
            <li>Improper function due to wear or presence of external agents in paper feed rollers.</li>
            <li>Malfunction of the paper feed system due to obstructions from external elements.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Hardware Components -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThirteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          Hardware Components
        </button>
      </h2>
      <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Component incompatibility.</li>
            <li>Improper operation due to firmware changes or extreme overclocking or cryptocurrency mining tests.</li>
            <li>Improper operation due to poor component assembly.</li>
            <li>High operating temperatures.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Assembled Computers (Gaming PCs, Office PCs, Corporate PCs) -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFourteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          Assembled Computers (Gaming PCs, Office PCs, Corporate PCs)
        </button>
      </h2>
      <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Improper operation of main software, drivers, and additional software.</li>
            <li>Hardware malfunction due to poor software configuration.</li>
            <li>Game installation and configuration.</li>
            <li>Data or information loss.</li>
            <li>User account lock.</li>
            <li>Slow operation.</li>
            <li>Warranty is void if the device is detected to have been used for processes that stress or push the
              hardware to its limits, such as cryptocurrency mining, overclocking, etc.</li>
            <li>Assembled "clone" computers do not come with a pre-installed operating system or office or multimedia
              software, so the customer must install them themselves or, in the case of the OS, purchase a genuine
              software license to install it.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="mt-3">
  <label class="fw-semibold"> - About Refounds </label>
  <hr class="w-50">
  <ul>
    <li> Refunds are only made through the original payment method of the purchase. </li>
    <li> Credit card refunds may take 7 to 15 days after approval, but this also depends on the time taken by the
      issuing bank of the credit or debit card. </li>
  </ul>
</section>

<section class="mt-3">
  <div class="alert alert-danger">
    <label class="fw-semibold"> APPENDIX A-1 </label>
  </div>

  <label> The customer voids the warranty if they attempt to: </label>

  <ul>
    <li> Open the product in an attempt to fix it. </li>
    <li> Modify, remove, personalize, or change parts of the product. </li>
    <li> Use the product in a way for which it was not designed. </li>
    <li> Continue using the product once a failure occurs and cause further damage. </li>
    <li> Change the firmware or software of a product or device or obtain root permissions in the case of phones,
      tablets, etc. </li>
    <li> If warranty seals or serial numbers have been broken or altered, or the device has been disassembled, screws
      are missing, or there are signs of opening. </li>
    <li> Damage caused by electrical discharges or incorrect voltage use. </li>
    <li> Damage caused by the presence of harmful elements (liquids, acids, dust, organic bodies, inorganic bodies,
      chemicals). </li>
  </ul>
</section>