<p> <strong>CinnaTech Store - El Salvador</strong>, is committed to protecting the privacy of the personal information
  you provide on our Web Site.
  our Web Site. We believe it is important for you to know how we treat the information you share with us.
  us. The following policy explains how personal information will be treated when you use our Web Site. The
  personal information includes name, address and place of residence, delivery address, telephone and cellular phone
  number, e-mail address(es)
  address(es), e-mail address(es), browsing activity and any other information you provide.
  you provide. E-mail address and all other personal information is only collected when
  You voluntarily provide such data when you register for activities such as placing online orders or participating in
  surveys or contests.
  participating in surveys or contests. </p>

<p> The terms of this Privacy Policy apply to all users of this site. If you do not agree to
  the terms of this Privacy Policy, you should exit this site immediately. Below you will find
  answers to several questions regarding our updated Privacy Policy. </p>

<p> <strong>CinnaTech Store</strong>, collects personally identifiable information that you voluntarily provide when you
  complete online forms, which may include
  online forms, which may include: user registration, sweepstakes registration, contact requests, user comments, surveys
  and other online activities,
  user comments, surveys and other online activities. Personally Identifiable Information
  (“Personal Information”) collected on this Site may include some or all of the following:
  name, address, phone and cell phone number(s), email addresses, text messaging information and other contact
  information associated with
  and other contact information associated with electronic or digital messaging methods, media and interaction,
  demographic information, and any other information you may voluntarily provide. You will have the option to
  choose to disclose such personal information in the aforementioned activities; however,
  however, certain sections of the Site and certain services may be more difficult to use, or in some cases impossible,
  if you choose not to
  impossible, if you choose not to disclose personal information. </p>

<section class="mb-3 mt-3">
  <h3> Your Consent </h3>
  <hr>
  <p> By using these sites, you agree to the terms of this privacy policy. Whenever you submit
    information through these sites, you consent to the collection, use, and disclosure of such information in
    accordance with this Privacy Policy, the Terms of Service, and the specific
    with this Privacy Policy, the terms of service, and the specific provisions of these sites that may be presented in
    the time information.
    may be presented at the time information is collected. </p>
</section>

<section class="mb-3">
  <h3> Active Information Gathering </h3>
  <hr>
  <p> Like many Web sites, this Web site actively collects information from its visitors by asking them specific
    questions and allowing them to
    specific questions and allows them to communicate directly with us via e-mail, feedback forms, chat rooms, etc.
    comment forms, chat rooms, etc. Some of the information you submit may be personally identifiable (ie, information
    that can be uniquely identified with you, such as your full name, address, mailing address, email address, etc.).
    email address address, e-mail address, phone number, etc. Some areas of this Site require you to resubmit
    information in order for you to benefit from specified features.
  </p>
</section>

<section class="mb-3">
  <h3> Passive Information Gathering </h3>
  <hr>
  <p> As you browse these sites and/or receive e-mails in connection with these sites, certain information may be
    passively collected (i.e., without your actively providing information) by
    may be passively collected (i.e., without your actively providing the information) through various technologies and
    means, including, without limitation, those
    technologies and means, including, without limitation, those described below: </p>
</section>

<section class="mb-3">
  <h3> IP Addresses and Automatic Information </h3>
  <hr>
  <p> We may collect IP addresses and/or automatic information for system administration purposes and to report
    aggregate information to our advertisers and sponsors.
    aggregate information to our advertisers and sponsors. An IP address is a number that is automatically assigned to
    your computer when you access the Internet.
    automatically assigned to your computer when you access the Internet. Our computers can thus identify your computer
    by its IP address.
    your computer by its IP address. When you request Web pages from the Sites, our computers log your IP address.
    IP address. Automatic information is information collected by our computers when you request Web pages from the
    Sites.
    Web pages
    from the Sites. Automatic information may include information such as the service page, the time, the source of the
    from
    the request, the type of browser making the request, the previous page view and other similar information. By
    analyzed, this data helps us understand how visitors arrive at the site, what type of content is most likely to be
    viewed, and what type of content is most likely to be viewed.
    most
    popular, what type of visitors in the aggregate are interested in particular types of content and advertising, what
    type of
    advertising,
    etc. </p>
</section>

<section class="mb-3">
  <h3> Information use and purging </h3>
  <hr>
  <p> Unless otherwise indicated, <strong>CinnaTech Store - El Salvador</strong> may use the information you provide to
    to
    improve the content of our sites, to customize the display of the web site to your preferences, to communicate
    information to you (if you have requested it), for our marketing and research purposes, and for
    communicate information to you (if you have requested it), for our marketing and research purposes, and for the
    purposes specified in this Privacy Policy.
    purposes specified in this Privacy Policy. <br>
    If you provide personally identifiable information on our e-commerce site, we may combine passive and active
    information in order to enhance your shopping experience to make it more enjoyable for you.
    passive and active information, in order to enhance your shopping experience to make it more enjoyable for you.
    The
    information you provide to us may not be disclosed or transmitted to third parties outside the transaction, unless
    expressly authorized by the consumer
    express authorization of the consumer holder of the information, or by requirements of the competent authorities
    at
    the country.</p>
</section>

<section class="mb-3">
  <h3> External Links </h3>
  <hr>
  <p> You should be aware that when you browse our Web site, you may be directed to other sites outside of our site.
    of
    our control at some point. For example, if you click on a banner advertisement, the “click” may send you to a
    different Web site.
    send you to a different Web site. This includes links from advertisers, sponsors, and partners who may use the
    the logo
    logo as part of a co-branding agreement. These other sites may send their own cookies to
    the
    independently collect data or solicit personal information and may or may not have their own posted privacy
    policies.
    posted privacy policies. If you visit a web page that is linked to our Sites, you should
    consult the sites' privacy policy before providing any personal information. </p>
</section>

<section class="mb-3">
  <h3> How to Contact Us </h3>
  <hr>
  <p> If you have any questions, comments or concerns about this privacy policy or the information practices of these
    sites, please contact us as follows
    information practices of these sites, please contact us as follows: </p>

  <label> CinnaTech Store El Salvador </label>
  <br>
  <label> C.C. Plaza Merliot, 3 nivel local 308, Santa Tecla, La Libertad, El Salvador, Centro América </label>
  <br>
  <label> Tel. (+503) 2527-8000 </label>
  <br>
  <label> {{ "Email: cinnatechstore@gmail.com" }} </label>
</section>

<section>
  <h3> Changes to this Privacy Policy </h3>
  <hr>
  <p> If this Privacy Policy changes, the revised policy will be posted again over the previous one.
    previous one. Please check back periodically, especially before providing any personally identifiable information.
    personally identifiable information. </p>

  <p> Last updated: July 2024 </p>
</section>