<div class="row p-2 mt-2">
  <div class="col-md-9 col-sm-12">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="alert alert-primary"> <label> <fa-icon [icon]="faUser" /> Client info </label> </div>
        <div class="form">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="clientName" id="clientName" placeholder="e.g. David Alejandro Cruz Cruz" maxlength="25" required>
                <label for="clientName">Name (Max. 25) </label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="clientPhone" id="clientPhone" placeholder="e.g. 7825-0214" maxlength="9" required>
                <label for="clientPhone">Phone (Max. 9)  </label>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="clientEmail" id="clientEmail" placeholder="e.g. name@domain.com" maxlength="150"
                  required>
                <label for="clientEmail">Email (Max. 150) </label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                <textarea class="form-control" formControlName="additionalComments" id="additionalComments" placeholder="Additional comments"
                  style="height: 100px" maxlength="75"></textarea>
                <label for="additionalComments">Additional comments <span id="remaining-1"> 75 / 75 </span> </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="alert alert-primary"> <label> <fa-icon [icon]="faShippingFast" /> Shipping info </label> </div>
        <div class="form">
          <div class="row">
            <div class="col-6 text-start mb-3">
              <button class="btn btn-outline-primary" id="pickAtStore"> Pick at store </button>
            </div>
            <div class="col-6 text-end mb-3">
              <button class="btn btn-outline-primary" id="homeShipping"> Home shipping </button>
            </div>
            <div class="col-12 text-center" id="pickAtStoreSpace">
              <p class="alert alert-warning" id="message"> Please, choose an option </p>
            </div>
              <div class="col-md-6 col-sm-12 d-none" id="homeShippingCol1">
                <div class="form-floating mb-3">
                  <select class="form-select" id="floatingSelectDepartments">
                    @for (item of departments; track $index) {
                      <option value="{{ $index }}"> {{ item.nombre }} </option>
                    }
                  </select>
                  <label for="floatingSelect"> Departments </label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" formControlName="clientAddress" id="clientAddress" placeholder="Address"
                    style="height: 100px" maxlength="50" required></textarea>
                  <label for="clientAddress"> Address <span id="remaining-2"> 50 / 50</span> </label>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 d-none" id="homeShippingCol2">
                <div class="form-floating mb-3">
                  <select class="form-select" id="floatingSelectMunicipalities">
                    @for (item of municipalities; track $index) {
                      <option value="{{ item.precio }}"> {{ item.nombre +' -  ($'+item.precio+')' }} </option>
                    }
                  </select>
                  <label for="floatingSelect"> Municipality </label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" formControlName="referencePoint" id="referencePoint" placeholder="Reference point"
                    style="height: 100px" maxlength="20"></textarea>
                  <label for="referencePoint"> Reference point <span id="remaining-3"> 20 / 20</span> </label>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6 text-start">
        <button class="btn btn-outline-primary me-3" (click)="pay_steps.prevStep()">
          <fa-icon [icon]="faAngleLeft"/> My cart list <fa-icon [icon]="faShoppingCart" /> </button>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-outline-primary" id="saveClientInfo"> <fa-icon [icon]="faCreditCard" /> Payment <fa-icon [icon]="faAngleRight"/> </button>
      </div>
    </div>
  </div>
  <app-order-info class="col-md-3 col-sm-12" />
</div>