<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="rounded-circle" src="logo.png" alt="Logo" style="width: 30px;">
      CinnaTech Store
    </a>
    <span class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="cursor: pointer;">
      <span class="navbar-toggler-icon"></span>
    </span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/offers">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if(!isLoggedIn) {
        <li class="nav-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <label class="nav-link" title="Log in" style="cursor: pointer;">
            <fa-icon [icon]="faUser"/>
          </label>
        </li>
        } @else {
        <li class="nav-item">
          <a href="/account">
            <label class="nav-link" title="My account" style="cursor: pointer;">
              <fa-icon [icon]="faUser"/>
            </label>
          </a>
        </li>
        }
        @if(isLoggedIn) {
        <li class="nav-item">
          @if(cartService.getItems().length > 0) {
            <div class="position-relative">
              <a class="nav-link" title="My cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="cursor: pointer;">
                <fa-icon [icon]="faCartShopping"/>
                <span class="position-absolute top-1 end-2 start-100 end-25 small translate-middle p-2 bg-primary rounded-circle">
                </span>
              </a>
            </div>
          } @else {
            <a class="nav-link" title="My cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="cursor: pointer;">
              <fa-icon [icon]="faCartShopping"/>
            </a>
          }
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Log out" (click)="logOut()" style="cursor: pointer;">
            <fa-icon [icon]="faSignOut"/>
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="p-3">
        <div class="row">
          <div class="col-10">
            <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
          </div>
          <div class="col-2 text-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form class="g-3" [formGroup]="form" (submit)="login()">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> <fa-icon [icon]="faEnvelope"/> </span>
                <input type="email" class="form-control" id="userEmail" formControlName="email" placeholder="e-mail" aria-label="email"
                  aria-describedby="basic-addon1" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> <fa-icon [icon]="faLock"/> </span>
                <input type="password" class="form-control" id="userPassword" formControlName="password" placeholder="password"
                  aria-label="password" aria-describedby="basic-addon1" required>
              </div>
            </div>
          </div>
          <!-- <div class="row mt-2">
            <div class="col-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rememberMe">
                <label class="form-check-label" for="rememberMe">
                  Remember me
                </label>
              </div>
            </div>
            <div class="col-6 text-end">
              <a href="#" class="small text-decoration-none">Forgot password?</a>
            </div>
          </div> -->
          <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-outline-primary w-100">Log In</button>
            </div>
            <div class="col-12 mt-3">
              <div class="text-center">
                <p>Don't have an account? <a class="text-decoration-none" href="/register">Sign up</a></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>