<div class="container p-2 mt-3">
  <div class="stepper">
    <div class="step" [class]="{'active': currentStep === 1}" (click)="showStep(1)"> Cart </div>
    <div class="step" [class]="{'active': currentStep === 2}" (click)="showStep(2)"> Client info </div>
    <div class="step" [class]="{'active': currentStep === 3}" (click)="showStep(3)"> Payment </div>
    <div class="step" [class]="{'active': currentStep === 4}" (click)="showStep(4)"> Order </div>
  </div>

  <div class="step-content" [class]="{'active': currentStep === 1}">
    <app-cart />
  </div>
  <div class="step-content" [class]="{'active': currentStep === 2}">
    <h3>Step 2</h3>
    <p>This is the content of Step 2.</p>
    <button class="btn btn-secondary" (click)="prevStep()">Previous</button>
    <button class="btn btn-primary" (click)="nextStep()">Next</button>
  </div>
  <div class="step-content" [class]="{'active': currentStep === 3}">
    <div class="row p-2">
      <div class="col-md-9 col-sm-12">

      </div>
      <app-order-info class="col-md-3 col-sm-12" />
    </div>
  </div>
  <div class="step-content" [class]="{'active': currentStep === 4}">
  </div>
</div>