<div class="alert alert-primary mb-3">
  <p class="fw-semibold fst-italic">
    In this section we disclose our conditions and / or restrictions for the offers that are in force through our advertising on social networks and other media; if an error or inconsistency is detected in the price, model or specification in our products and / or offers published in our social networks, immediate correction will be made so your order may be affected or canceled. CinnaTech El Salvador reserves the right to correct and/or disable a product or group of products affected and maintain the correct price shown on cinnatechsv.com
  </p>
</div>
<div class="row">
  <div class="col-md-4 col-sm-12 mb-4 d-flex justify-content-sm-center">
    <img class="img-fluid rounded" src="logo.png" alt="">
  </div>
  <div class="col-md-8 col-sm-12 d-flex align-items-center">
    <p>
      The offers that are in force in our social networks and other media, are exclusively for customers registered in cinnamontechsv.com and who are accepting the terms and conditions of this legal notice. Prices and offers published in our social networks and other media may vary according to the needs and availability of each client. CinnaTech El Salvador reserves the right to change or remove any offer published on our social networks and other media at any time without prior notice.
    </p>
  </div>
</div>