/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border: 2px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 18px;
}

.text-breaker {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
}