<div class="row">
  <div class="col-md-4 col-sm-12 mb-3">
    <div class="card shadow">
      <img class="card-img-top" src="{{'http://localhost:3000/uploads/categories/components.png'}}" alt="Build your equipments">
      <div class="card-body">
        <div class="text-center">
          <h5> Build your equipments </h5>
        </div>
        <p> We offer an IT equipment assembly and upgrade service: we assemble customized PC's, upgrade components of equipments. We guarantee quality, efficiency and expert technical support to optimize the performance of your equipments. </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 mb-3">
    <div class="card shadow">
      <img class="card-img-top" src="{{'http://localhost:3000/uploads/categories/homeOffice.png'}}" alt="e-commerce">
      <div class="card-body">
        <div class="text-center">
          <h5> e-commerce </h5>
        </div>
        <p> We offer an online store specializing in computer supplies. Find everything from laptops and PC's to components and accessories, with competitive prices and fast shipping. Browse our selection and make your purchase securely and conveniently. </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 mb-3">
    <div class="card shadow">
      <img class="card-img-top" src="{{'http://localhost:3000/uploads/categories/network.png'}}" alt="Repair your equipments">
      <div class="card-body">
        <div class="text-center">
          <h5> Repair your equipments </h5>
        </div>
        <p> We offer fast and reliable repair of computer equipment. Our service includes accurate diagnosis, hardware and software repair, and preventive maintenance. We troubleshoot computers, laptops and servers, ensuring optimal performance, durability and quality. </p>
      </div>
    </div>
  </div>
</div>