<div class="row p-2">
  <div class="card" id="order-content">
    <div class="alert alert-primary text-center mt-3"> Final order </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <p id=""> Client name </p>
        <p id=""> Department </p>
        <p id=""> Municipality </p>
      </div>
      <div class="col-sm-6 text-end">
        @for(item of clientService.getClientInfo(); track $index) {
          <p id=""> {{ item[0].clientName }} </p>
          <p id=""> {{ item[0].department }} </p>
          <p id=""> {{ item[0].municipality }} </p>
        }
      </div>
      <div class="col-12 text-center">
        <div class="alert alert-primary text-center mt-3"> Products </div>
      </div>
      <app-cart-details />
      <div class="col-12 mb-3 text-center">
        @for(item of clientService.getClientInfo(); track $index) {
          <div class="alert alert-primary text-center mt-3"> Aditional comments </div>
          <textarea class="form-control" id="comments" [value]="item[0].additionalComments" disabled></textarea>
        }
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-6 text-start">
            <p> Sub-Total <br>
              Shipping cost <br>
              Total to pay </p>
          </div>
          <div class="col-6 text-end">
            <p> ${{ this.cartService.getSubTotal() }} <br>
              ${{ cartService.shippingCost() }} <br>
              ${{ cartService.getSubTotal() + cartService.shippingCost() }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3">
    <button class="btn btn-outline-primary w-100" (click)="printOrder()"> <fa-icon [icon]="faPrint"/> Print </button>
  </div>
</div>