<div class="row mb-4">
  <div class="col-md-3 col-sm-12 mb-4 d-flex justify-content-sm-center">
    <img class="img-fluid rounded w-md-100 w-sm-75" src="../assets/img/delivery.png" alt="">
  </div>
  <div class="col-md-9 col-sm-12">
    <p> CinnaTech Store El Salvador has home delivery service throughout the country, however we are subject to the coverage of our carrier who is in charge of this service. </p>
    <p> When buying in our Webstore the customer has the following options for the delivery of his order: </p>

    <ul>
      <li class="text-decoration-none"> <strong>Pick up at store</strong>. To pick up in store, in which the buyer must select the branch of his preference within the list of available stores. Once the order has been processed, a Zona Digital customer service agent will contact the customer to schedule the day and time of pick up. </li> <br>
      <li class="text-decoration-none"> <strong>Home shipping</strong>. In which the information that the user has registered in our form for home deliveries will be taken to schedule the delivery through our carrier. If there is a discrepancy in the address, additional information or lack of coverage, a customer service agent will contact you to resolve the situation. </li>
    </ul>
  </div>
</div>

<div class="alert alert-primary text-center mb-4">
  <label> All orders are subject to validation for shipment </label>
</div>

<section class="mb-4">
  <h5 class="fw-semibold"> Shipping Cost </h5>
  <p> Home delivery includes an additional charge, which will be reflected in the detail of the order <strong>"My cart"</strong> according to the department or municipality selected. </p>
</section>

<section>
  <h5 class="fw-semibold"> Delivery Times </h5>
  <p> Home deliveries in the Metropolitan Areas of San Salvador and Santa Tecla have an estimated delivery time of 24 working hours; for deliveries to the interior of the country in the departmental capitals the estimated delivery time is 48 to 72 working hours and for some municipalities up to 5 working days. </p>
</section>